:root {
  --fuentePrincipal: 'Staatliches', cursive;
  --primario: #9c27b0;
  --primarioOscuro: #89119D;
  --secundario: #ffce00;
}

html {
  font-size: 62.5%;/*reset : 62.5 son 10px*/
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-color: var(--primario);
  line-height: 2;
  font-size: 2rem;
}
.barra{
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
}
.barra .nav{
  display: grid;
  grid-template-columns: repeat(2,200px);
  justify-content: center;
}
